In [9]:
import numpy as np
import pandas as pd
from graph import Tree

## Read the nodes.dmp file and ge tthe edges

In [10]:
column_names = ['Tax id',
                'Parent Tax id',
                'rank',
                'embl code', 
                'division id',
                'inherited div flag',
                'genetic code id',
                'inherited GC  flag',
                'mitochondrial genetic code id',
                'inherited MGC flag',
                'GenBank hidden flag',
                'hidden subtree root flag',
                'comments']
nodes_df =  pd.read_table('nodes.dmp', delimiter = r"\t[|]\t", names= column_names, skiprows=1, engine='python')
nodes_df.head(5)

,Tax id,Parent Tax id,rank,embl code,division id,inherited div flag,genetic code id,inherited GC flag,mitochondrial genetic code id,inherited MGC flag,GenBank hidden flag,hidden subtree root flag,comments
0,2,131567,superkingdom,NaN,0,0,11,0,0,0,0,0,\t|
1,6,335928,genus,NaN,0,1,11,1,0,1,0,0,\t|
2,7,6,species,AC,0,1,11,1,0,1,1,0,\t|
3,9,32199,species,BA,0,1,11,1,0,1,1,0,\t|
4,10,1706371,genus,NaN,0,1,11,1,0,1,0,0,\t|

## Reading names.dmp into the dataframe

In [11]:
column_names = ['Tax id',
                'Name text',
                'Unique name',
                'name class']
names_df = pd.read_table('names.dmp', delimiter = r"\t[|]\t", names=column_names, skiprows=1, engine='python')
names_df['name class'] = names_df['name class'].str.split('\t').str[0]
names_df.head(5)

   Tax id    Name text             Unique name       name class
0       1         root                     NaN  scientific name
1       2     Bacteria     Bacteria <bacteria>  scientific name
2       2       Monera       Monera <bacteria>          in-part
3       2  Procaryotae  Procaryotae <bacteria>          in-part
4       2   Prokaryota   Prokaryota <bacteria>          in-part

## Creating weighted edges

In [12]:
weighted_edges = dict(zip(nodes_df['Tax id'], zip(nodes_df['Parent Tax id'], nodes_df['rank'], nodes_df['embl code'])))

## Building the tree

Passing the names dataframe and weighted edges to the tree class

In [13]:
newTree = Tree(weighted_edges,names_df, 'Tax id')

### Calling the function to find the lowest ancestor of the given two nodes in the tree

In [14]:
newTree.findLowestAncestor(10456,479727)

10239

### Returns the edge infromation from given node to parent node

In [15]:
newTree.edge_info(479727)

(365521, 'species', 'AC')

### Returns the node infromation of the given node

In [16]:
newTree.getNodeInfo(479727)

,Tax id,Name text,Unique name,name class
771554,479727,Amasya cherry disease-associated virus satelli...,NaN,scientific name